<p id="notice"><%= notice %></p>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
  <p id="notice"><%= notice %></p>
  <h1><%= current_user.name %></h1>

  <p>
    <strong>Email:</strong>
    <%= current_user.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= current_user.birthday %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= current_user.address %>
  </p>

  <%= link_to 'Edit', edit_user_path(current_user) %>
<% else %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Log In", login_path %>
<% end %>

<%= link_to 'Back', users_path %>
